<header>
<a href="/"><%= image_tag "logo.png", class: "logo" %></a>

<div class="nav">
  <%="닉네임"%> 님 안녕하세요 
  <a href="/login/logout" class="logout">로그아웃</a>

    <button id="playbtn" style="width:auto;">플레이</button>

    <div id="id01" class="modal">
      <span class="close">&times;</span>

      <%= form_with url: "/api/create_room", method: :get, local: true, class:"modal-content" do |form| %>
        <div class="container">
            <p>재생할 비디오의 url을 입력해 주세요</p>
            <hr>
            <b>URL</b>
            <%= form.text_field :video_url, placeholder: 'url 입력하세요', required:true %>
            <div class="clearfix">
                <button type="button" class="cancelbtn">취소</button>
                <button type="submit" class="signupbtn">재생 시작</button>
            </div>
        <div>
      <% end %>

    </div>

</div>  
</header>

<div class="rooms">
  <% @rooms.each do |room| %>
    <li>
      <%= link_to chat_path(:room_id => room.room_id, :video_id => room.video_id) do %>
      <%= image_tag image_url("https://img.youtube.com/vi/#{room.video_id}/mqdefault.jpg") %>
      <% end %>
       <div><%=room.title%></div>
      <div><%=room.host%>님이 호스트 중</div>
  </li>
  <% end %>
</div>